<!-- <div class="p-4">
  <h1 class=" font-semibold">Dashboard</h1>
  <p *ngIf="auth.user()">
    Welcome, {{ auth.user()?.username }} ({{ auth.user()?.email }})
  </p>
</div> -->
<div class="p-4">
  <div class="card-body card">
    <section>
      <div class="container-full">
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <section class="content">
              <div class="row">
                <div class="col-xl-12 col-12">
                  <div class="row">
                    <div class="col-md-6 col-12" style="display: flex">
                      <div class="box">
                        <div class="box-body px-0 text-center">
                          <div style="min-height: 156px; position: relative">
                            <div id="chart124" style="min-height: 155.7px">
                              <div
                                id="apexcharts2hu3twox"
                                class="apexcharts-canvas apexcharts2hu3twox apexcharts-theme-light"
                                style="width: 186px; height: 155.7px"
                              >
                                <svg
                                  id="SvgjsSvg1869"
                                  width="186"
                                  height="155.7"
                                  xmlns="http://www.w3.org/2000/svg"
                                  version="1.1"
                                  xmlns:xlink="http://www.w3.org/1999/xlink"
                                  xmlns:svgjs="http://svgjs.com/svgjs"
                                  class="apexcharts-svg"
                                  xmlns:data="ApexChartsNS"
                                  transform="translate(0, 0)"
                                  style="background: transparent"
                                >
                                  <g
                                    id="SvgjsG1871"
                                    class="apexcharts-inner apexcharts-graphical"
                                    transform="translate(28.5, 0)"
                                  >
                                    <defs id="SvgjsDefs1870">
                                      <clipPath id="gridRectMask2hu3twox">
                                        <rect
                                          id="SvgjsRect1873"
                                          width="137"
                                          height="155"
                                          x="-3"
                                          y="-1"
                                          rx="0"
                                          ry="0"
                                          opacity="1"
                                          stroke-width="0"
                                          stroke="none"
                                          stroke-dasharray="0"
                                          fill="#fff"
                                        ></rect>
                                      </clipPath>
                                      <clipPath id="gridRectMarkerMask2hu3twox">
                                        <rect
                                          id="SvgjsRect1874"
                                          width="135"
                                          height="157"
                                          x="-2"
                                          y="-2"
                                          rx="0"
                                          ry="0"
                                          opacity="1"
                                          stroke-width="0"
                                          stroke="none"
                                          stroke-dasharray="0"
                                          fill="#fff"
                                        ></rect>
                                      </clipPath>
                                    </defs>
                                    <g id="SvgjsG1876" class="apexcharts-pie">
                                      <g
                                        id="SvgjsG1877"
                                        transform="translate(0, 0) scale(1)"
                                      >
                                        <circle
                                          id="SvgjsCircle1878"
                                          r="51.47560975609756"
                                          cx="65.5"
                                          cy="76.5"
                                          fill="transparent"
                                        ></circle>
                                        <g
                                          id="SvgjsG1879"
                                          class="apexcharts-slices"
                                        >
                                          <g
                                            id="SvgjsG1880"
                                            class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Woman"
                                            rel="1"
                                            data:realIndex="0"
                                          >
                                            <path
                                              id="SvgjsPath1881"
                                              d="M 65.5 7.8658536585365795 A 68.63414634146342 68.63414634146342 0 0 1 88.97426056874225 140.99500085101332 L 83.10569542655668 124.87125063826 A 51.47560975609756 51.47560975609756 0 0 0 65.5 25.024390243902438 L 65.5 7.8658536585365795 z"
                                              fill="rgba(81,86,190,1)"
                                              fill-opacity="1"
                                              stroke-opacity="1"
                                              stroke-linecap="butt"
                                              stroke-width="2"
                                              stroke-dasharray="0"
                                              class="apexcharts-pie-area apexcharts-donut-slice-0"
                                              index="0"
                                              j="0"
                                              data:angle="160"
                                              data:startAngle="0"
                                              data:strokeWidth="2"
                                              data:value="440"
                                              data:pathOrig="M 65.5 7.8658536585365795 A 68.63414634146342 68.63414634146342 0 0 1 88.97426056874225 140.99500085101332 L 83.10569542655668 124.87125063826 A 51.47560975609756 51.47560975609756 0 0 0 65.5 25.024390243902438 L 65.5 7.8658536585365795 z"
                                              stroke="#ffffff"
                                            ></path>
                                          </g>
                                          <g
                                            id="SvgjsG1882"
                                            class="apexcharts-series apexcharts-pie-series"
                                            seriesName="Man"
                                            rel="2"
                                            data:realIndex="1"
                                          >
                                            <path
                                              id="SvgjsPath1883"
                                              d="M 88.97426056874225 140.99500085101332 A 68.63414634146342 68.63414634146342 0 1 1 65.48802108173126 7.865854703894399 L 65.49101581129845 25.024391027920807 A 51.47560975609756 51.47560975609756 0 1 0 83.10569542655668 124.87125063826 L 88.97426056874225 140.99500085101332 z"
                                              fill="rgba(200,201,238,1)"
                                              fill-opacity="1"
                                              stroke-opacity="1"
                                              stroke-linecap="butt"
                                              stroke-width="2"
                                              stroke-dasharray="0"
                                              class="apexcharts-pie-area apexcharts-donut-slice-1"
                                              index="0"
                                              j="1"
                                              data:angle="200"
                                              data:startAngle="160"
                                              data:strokeWidth="2"
                                              data:value="550"
                                              data:pathOrig="M 88.97426056874225 140.99500085101332 A 68.63414634146342 68.63414634146342 0 1 1 65.48802108173126 7.865854703894399 L 65.49101581129845 25.024391027920807 A 51.47560975609756 51.47560975609756 0 1 0 83.10569542655668 124.87125063826 L 88.97426056874225 140.99500085101332 z"
                                              stroke="#ffffff"
                                            ></path>
                                          </g>
                                        </g>
                                      </g>
                                      <g
                                        id="SvgjsG1884"
                                        class="apexcharts-datalabels-group"
                                        transform="translate(0, 0) scale(1)"
                                      >
                                        <text
                                          id="SvgjsText1885"
                                          font-family="Helvetica, Arial, sans-serif"
                                          x="65.5"
                                          y="66.5"
                                          text-anchor="middle"
                                          dominant-baseline="auto"
                                          font-size="16px"
                                          font-weight="400"
                                          fill="#373d3f"
                                          class="apexcharts-text apexcharts-datalabel-label"
                                          style="
                                            font-family: Helvetica, Arial,
                                              sans-serif;
                                          "
                                        >
                                          Total
                                        </text>
                                        <text
                                          id="SvgjsText1886"
                                          font-family="Helvetica, Arial, sans-serif"
                                          x="65.5"
                                          y="102.5"
                                          text-anchor="middle"
                                          dominant-baseline="auto"
                                          font-size="20px"
                                          font-weight="400"
                                          fill="#373d3f"
                                          class="apexcharts-text apexcharts-datalabel-value"
                                          style="
                                            font-family: Helvetica, Arial,
                                              sans-serif;
                                          "
                                        >
                                          990
                                        </text>
                                      </g>
                                    </g>
                                    <line
                                      id="SvgjsLine1887"
                                      x1="0"
                                      y1="0"
                                      x2="131"
                                      y2="0"
                                      stroke="#b6b6b6"
                                      stroke-dasharray="0"
                                      stroke-width="1"
                                      class="apexcharts-ycrosshairs"
                                    ></line>
                                    <line
                                      id="SvgjsLine1888"
                                      x1="0"
                                      y1="0"
                                      x2="131"
                                      y2="0"
                                      stroke-dasharray="0"
                                      stroke-width="0"
                                      class="apexcharts-ycrosshairs-hidden"
                                    ></line>
                                  </g>
                                  <g
                                    id="SvgjsG1872"
                                    class="apexcharts-annotations"
                                  ></g>
                                </svg>
                                <div class="apexcharts-legend"></div>
                                <div
                                  class="apexcharts-tooltip apexcharts-theme-dark"
                                  style="left: 50.0625px; top: 92.2695px"
                                >
                                  <div
                                    class="apexcharts-tooltip-series-group apexcharts-active"
                                    style="
                                      display: flex;
                                      background-color: rgb(200, 201, 238);
                                    "
                                  >
                                    <span
                                      class="apexcharts-tooltip-marker"
                                      style="
                                        background-color: rgb(200, 201, 238);
                                        display: none;
                                      "
                                    ></span>
                                    <div
                                      class="apexcharts-tooltip-text"
                                      style="
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-size: 12px;
                                      "
                                    >
                                      <div class="apexcharts-tooltip-y-group">
                                        <span
                                          class="apexcharts-tooltip-text-label"
                                          >Man: </span
                                        ><span
                                          class="apexcharts-tooltip-text-value"
                                          >550</span
                                        >
                                      </div>
                                      <div class="apexcharts-tooltip-z-group">
                                        <span
                                          class="apexcharts-tooltip-text-z-label"
                                        ></span
                                        ><span
                                          class="apexcharts-tooltip-text-z-value"
                                        ></span>
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="apexcharts-tooltip-series-group"
                                    style="
                                      display: none;
                                      background-color: rgb(200, 201, 238);
                                    "
                                  >
                                    <span
                                      class="apexcharts-tooltip-marker"
                                      style="
                                        background-color: rgb(200, 201, 238);
                                        display: none;
                                      "
                                    ></span>
                                    <div
                                      class="apexcharts-tooltip-text"
                                      style="
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-size: 12px;
                                      "
                                    >
                                      <div class="apexcharts-tooltip-y-group">
                                        <span
                                          class="apexcharts-tooltip-text-label"
                                          >Man: </span
                                        ><span
                                          class="apexcharts-tooltip-text-value"
                                          >550</span
                                        >
                                      </div>
                                      <div class="apexcharts-tooltip-z-group">
                                        <span
                                          class="apexcharts-tooltip-text-z-label"
                                        ></span
                                        ><span
                                          class="apexcharts-tooltip-text-z-value"
                                        ></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="resize-triggers">
                              <div class="expand-trigger">
                                <div style="width: 310px; height: 1px"></div>
                              </div>
                              <div class="contract-trigger"></div>
                            </div>
                          </div>
                          <div class="mt-15 d-inline-block">
                            <div class="text-start mb-10">
                              <span
                                class="badge badge-xl badge-dot badge-primary me-15"
                              ></span>
                              Woman 44%
                            </div>
                            <div class="text-start">
                              <span
                                class="badge badge-xl badge-dot badge-primary-light me-15"
                              ></span>
                              Man 55%
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box">
                        <div class="box-body">
                          <h4>New Patients</h4>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <h2 class="fs-40 my-0">67</h2>
                            <div>
                              <span class="badge badge-pill badge-success-light"
                                ><i class="fa fa-angle-up me-10"></i> 39%</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="box">
                        <div class="box-body">
                          <h4>Old Patients</h4>
                          <div
                            class="d-flex justify-content-between align-items-center"
                          >
                            <h2 class="fs-40 my-0">27</h2>
                            <div>
                              <span class="badge badge-pill badge-danger-light"
                                ><i class="fa fa-angle-down me-10"></i>04%</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>

        <section>
          <div
            class="content-wrapper"
            style="min-height: 546px; margin-left: 0px"
          >
            <div class="container-full">
              <!-- Content Header (Page header) -->
              <div class="content-header">
                <div class="d-flex align-items-center">
                  <div class="me-auto">
                    <h4 class="page-title">Your Patients today</h4>
                    <div class="d-inline-block align-items-center">
                      <nav>
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="#"><i class="mdi mdi-home-outline"></i></a>
                          </li>
                          <li
                            class="breadcrumb-item active"
                            aria-current="page"
                          >
                            Patients
                          </li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Main content -->
              <section class="content">
                <div class="row">
                  <div class="col-12">
                    <div class="box">
                      <div class="box-body">
                        <div class="table-responsive rounded card-table">
                          <div
                            id="example1_wrapper"
                            class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"
                          >
                            <div class="row">
                              <div class="col-sm-12 col-md-6"></div>
                              <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <table
                                  class="table border-no dataTable no-footer"
                                  id="example1"
                                  role="grid"
                                  aria-describedby="example1_info"
                                >
                                  <thead>
                                    <tr role="row">
                                      <th
                                        class="sorting_asc"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-sort="ascending"
                                        aria-label="Patient ID: activate to sort column descending"
                                      >
                                        Patient ID
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Date Check In: activate to sort column ascending"
                                      >
                                        Date Check In
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Patient Name: activate to sort column ascending"
                                      >
                                        Patient Name
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Doctor Assgined: activate to sort column ascending"
                                      >
                                        Doctor Assgined
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Disease: activate to sort column ascending"
                                      >
                                        Disease
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Status: activate to sort column ascending"
                                      >
                                        Status
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label="Room No: activate to sort column ascending"
                                      >
                                        Room No
                                      </th>
                                      <th
                                        class="sorting"
                                        tabindex="0"
                                        aria-controls="example1"
                                        rowspan="1"
                                        colspan="1"
                                        aria-label=": activate to sort column ascending"
                                      ></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="hover-primary odd" role="row">
                                      <td class="sorting_1">#p245879</td>
                                      <td>14 April 2021, 10:30 AM</td>
                                      <td>Aaliyah clark</td>
                                      <td>Dr. Johen Doe</td>
                                      <td>Cold &amp; Flu</td>
                                      <td>
                                        <span class="badge badge-danger-light"
                                          >New Patient</span
                                        >
                                      </td>
                                      <td>FF-103</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary even" role="row">
                                      <td class="sorting_1">#p245880</td>
                                      <td>18 April 2021, 11:30 AM</td>
                                      <td>Mical clark</td>
                                      <td>Dr. Aiden Doe</td>
                                      <td>Diabetes</td>
                                      <td>
                                        <span class="badge badge-success-light"
                                          >Recovered</span
                                        >
                                      </td>
                                      <td>FF-105</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary odd" role="row">
                                      <td class="sorting_1">#p245881</td>
                                      <td>22 May 2021, 15:30 PM</td>
                                      <td>Stela clark</td>
                                      <td>Dr. Lalvani doe</td>
                                      <td>Hearing Loss</td>
                                      <td>
                                        <span class="badge badge-danger-light"
                                          >New Patient</span
                                        >
                                      </td>
                                      <td>FF-112</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary even" role="row">
                                      <td class="sorting_1">#p245882</td>
                                      <td>26 April 2021, 10:30 AM</td>
                                      <td>Boone Doe</td>
                                      <td>Dr. Don Paton</td>
                                      <td>Allergies &amp; Asthma</td>
                                      <td>
                                        <span class="badge badge-danger-light"
                                          >New Patient</span
                                        >
                                      </td>
                                      <td>FF-124</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary odd" role="row">
                                      <td class="sorting_1">#p245883</td>
                                      <td>30 April 2021, 10:30 AM</td>
                                      <td>Carlie Paton</td>
                                      <td>Dr. Mical Doe</td>
                                      <td>Sleep Problem</td>
                                      <td>
                                        <span class="badge badge-warning-light"
                                          >In Treatment</span
                                        >
                                      </td>
                                      <td>FF-117</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary even" role="row">
                                      <td class="sorting_1">#p245884</td>
                                      <td>1 May 2021, 10:30 AM</td>
                                      <td>Delilah</td>
                                      <td>Dr. Johen Doe</td>
                                      <td>Dental Care</td>
                                      <td>
                                        <span class="badge badge-success-light"
                                          >Recovered</span
                                        >
                                      </td>
                                      <td>FF-141</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary odd" role="row">
                                      <td class="sorting_1">#p245885</td>
                                      <td>2 May 2021, 10:30 AM</td>
                                      <td>Hannah Doe</td>
                                      <td>Dr. Jennifer Ruby</td>
                                      <td>Diabetes</td>
                                      <td>
                                        <span class="badge badge-warning-light"
                                          >In Treatment</span
                                        >
                                      </td>
                                      <td>SF-203</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary even" role="row">
                                      <td class="sorting_1">#p245886</td>
                                      <td>3 May 2021, 10:30 AM</td>
                                      <td>Emerson Clark</td>
                                      <td>Dr. Alex Siauw</td>
                                      <td>Covid-19 Suspect</td>
                                      <td>
                                        <span class="badge badge-warning-light"
                                          >In Treatment</span
                                        >
                                      </td>
                                      <td>SF-201</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary odd" role="row">
                                      <td class="sorting_1">#p245887</td>
                                      <td>4 May 2021, 10:30 AM</td>
                                      <td>Crystal Doe</td>
                                      <td>Dr. Samuel Jr.</td>
                                      <td>Cold &amp; Flu</td>
                                      <td>
                                        <span class="badge badge-success-light"
                                          >Recovered</span
                                        >
                                      </td>
                                      <td>SF-205</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr class="hover-primary even" role="row">
                                      <td class="sorting_1">#p245888</td>
                                      <td>5 May 2021, 10:30 AM</td>
                                      <td>Jenny don</td>
                                      <td>Dr. Widan Cheeh</td>
                                      <td>Cold &amp; Flu</td>
                                      <td>
                                        <span class="badge badge-warning-light"
                                          >In Treatment</span
                                        >
                                      </td>
                                      <td>SF-210</td>
                                      <td>
                                        <div class="btn-group">
                                          <a
                                            class="hover-primary dropdown-toggle no-caret"
                                            data-bs-toggle="dropdown"
                                            ><i class="fa fa-ellipsis-h"></i
                                          ></a>
                                          <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#"
                                              >View Details</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Edit</a
                                            >
                                            <a class="dropdown-item" href="#"
                                              >Delete</a
                                            >
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12 col-md-5">
                                <div
                                  class="dataTables_info"
                                  id="example1_info"
                                  role="status"
                                  aria-live="polite"
                                >
                                  Showing 1 to 10 of 12 entries
                                </div>
                              </div>
                              <div class="col-sm-12 col-md-7">
                                <div
                                  class="dataTables_paginate paging_simple_numbers"
                                  id="example1_paginate"
                                >
                                  <ul class="pagination">
                                    <li
                                      class="paginate_button page-item previous disabled"
                                      id="example1_previous"
                                    >
                                      <a
                                        href="#"
                                        aria-controls="example1"
                                        data-dt-idx="0"
                                        tabindex="0"
                                        class="page-link"
                                        >Previous</a
                                      >
                                    </li>
                                    <li
                                      class="paginate_button page-item active"
                                    >
                                      <a
                                        href="#"
                                        aria-controls="example1"
                                        data-dt-idx="1"
                                        tabindex="0"
                                        class="page-link"
                                        >1</a
                                      >
                                    </li>
                                    <li class="paginate_button page-item">
                                      <a
                                        href="#"
                                        aria-controls="example1"
                                        data-dt-idx="2"
                                        tabindex="0"
                                        class="page-link"
                                        >2</a
                                      >
                                    </li>
                                    <li
                                      class="paginate_button page-item next"
                                      id="example1_next"
                                    >
                                      <a
                                        href="#"
                                        aria-controls="example1"
                                        data-dt-idx="3"
                                        tabindex="0"
                                        class="page-link"
                                        >Next</a
                                      >
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
