<h1 style="padding-bottom: 15px; font-size: 2rem; margin-top: -15px">History or Reports</h1>
<div class="card" style="padding: 0">
  <ul class="nav nav-tabs">
    <li [class.active]="activeTab() === 'Camp'" (click)="setActiveTab('Camp')">Camps (99)</li>
    <li [class.active]="activeTab() === 'Patient'" (click)="setActiveTab('Patient')">
      Patient Details (1.81k )
    </li>
    <li [class.active]="activeTab() === 'Medicine'" (click)="setActiveTab('Medicine')">
      Medicine Details (100)
    </li>
    <li [class.active]="activeTab() === 'Doctor'" (click)="setActiveTab('Doctor')">
      Doctor Details (280)
    </li>
    <li [class.active]="activeTab() === 'Discount'" (click)="setActiveTab('Discount')">
      Discount Details list (200 k)
    </li>
    <li [class.active]="activeTab() === 'Illness'" (click)="setActiveTab('Illness')">
      Illness Details
    </li>
  </ul>

  <p-table
    id="threeLevelPatientTable"
    [value]="patients"
    dataKey="patientId"
    *ngIf="activeTab() === 'Patient'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} patients"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Patient Name</th>
        <th>Father Name</th>
        <th>Age</th>
        <th>Camps Attended</th>
        <th>Diagnosis</th>
        <th>diseases</th>
        <th>campRx</th>
        <th>outsideRx</th>
        <th>comments</th>
      </tr>
    </ng-template>

    <ng-template #body let-patient let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="patient"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold text-blue-800">{{ patient.name }}</td>
        <td>{{ patient.fatherName }}</td>
        <td>{{ patient.age }}</td>
        <td>
          <span class="p-badge p-badge-info">{{ patient.campsAttended?.length || 0 }}</span>
        </td>
        <td>{{ patient.diagnosis }}</td>
        <td>
          <div class="flex flex-wrap gap-1">
            <p-tag
              *ngFor="let disease of patient.diseases"
              [value]="disease"
              severity="danger"
              [rounded]="true"
            ></p-tag>
          </div>
        </td>
        <td>
          <div class="flex flex-wrap gap-1">
            <p-tag *ngFor="let rx of patient.campRx" [value]="rx" severity="success"></p-tag>
          </div>
        </td>
        <td>
          <div class="flex flex-wrap gap-1">
            <p-tag
              *ngFor="let outRx of patient.outsideRx"
              [value]="outRx"
              severity="warning"
            ></p-tag>
          </div>
        </td>
        <td>
          <span
            class="text-sm italic text-gray-600 truncate block"
            style="max-width: 200px"
            [title]="patient.comments"
          >
            {{ patient.comments }}
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-patient>
      <tr>
        <td colspan="10" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="patient.campsAttended" dataKey="campId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Camp Name</th>
                  <th>Date</th>
                  <th>Diagnosis at Camp</th>
                  <th>Doctor</th>
                </tr>
              </ng-template>

              <ng-template #body let-camp let-pExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="camp"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="pExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ camp.campName }}</td>
                  <td>{{ camp.date }}</td>
                  <td>
                    <span class="font-bold text-blue-600">{{ camp.diagnosis }}</span>
                  </td>
                  <td>doctorName</td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-camp>
                <tr>
                  <td colspan="5">
                    <div class="ml-8 border-1 surface-border border-round shadow-1">
                      <p-table [value]="camp.medicines" dataKey="medicineId">
                        <ng-template #header>
                          <tr class="bg-blue-50">
                            <th>Medicine Name</th>
                            <th>Dosage</th>
                            <th>Duration (Days)</th>
                            <th>Total Qty</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-medicine>
                          <tr>
                            <td>{{ medicine.medicineName }}</td>
                            <td>{{ medicine.dosage }}</td>
                            <td>{{ medicine.days }} days</td>
                            <td>{{ medicine.quantity }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    id="threeLevelCampTable"
    [value]="camps"
    dataKey="campId"
    *ngIf="activeTab() === 'Camp'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} camps"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Camp Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Patient Count</th>
      </tr>
    </ng-template>

    <ng-template #body let-camp let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="camp"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold">{{ camp.campName }}</td>
        <td>{{ camp.date }}</td>
        <td>{{ camp.location }}</td>
        <td>
          <span [class]="camp.patientCount > 5 ? 'p-badge p-badge-danger' : 'p-badge p-badge-info'">
            {{ camp.patientCount }} Patients
          </span>
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-camp>
      <tr>
        <td colspan="5" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="camp.patients" dataKey="patientId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Patient Name</th>
                  <th>Age</th>
                  <th>Diagnosis</th>
                </tr>
              </ng-template>

              <ng-template #body let-patient let-pExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="patient"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="pExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.age }}</td>
                  <td>
                    <span class="p-tag p-tag-rounded">{{ patient.diagnosis }}</span>
                  </td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-patient>
                <tr>
                  <td colspan="4" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round shadow-1">
                      <p-table [value]="patient.medicines" dataKey="medicineId">
                        <ng-template #header>
                          <tr class="bg-blue-50">
                            <th>Medicine Name</th>
                            <th>Dosage</th>
                            <th>Days</th>
                            <th>Total Quantity</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-medicine>
                          <tr>
                            <td>{{ medicine.medicineName }}</td>
                            <td>{{ medicine.dosage }}</td>
                            <td>{{ medicine.days }} days</td>
                            <td class="font-bold">{{ medicine.quantity }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    id="threeLevelMedicineTable"
    [value]="medicinesMaster"
    dataKey="medicineId"
    *ngIf="activeTab() === 'Medicine'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} medicines"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Medicine Name</th>
        <th>Medicine ID</th>
        <th>Total Distribution</th>
      </tr>
    </ng-template>

    <ng-template #body let-medicine let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="medicine"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold text-blue-700">{{ medicine.medicineName }}</td>
        <td>{{ medicine.medicineId }}</td>
        <td>{{ medicine.totalDistributed }} units</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-medicine>
      <tr>
        <td colspan="4" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="medicine.campsFoundIn" dataKey="campId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Camp Name</th>
                  <th>Date</th>
                  <th>Reach</th>
                </tr>
              </ng-template>

              <ng-template #body let-camp let-cExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="camp"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="cExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ camp.campName }}</td>
                  <td>{{ camp.date }}</td>
                  <td>{{ camp.patientsUsing?.length }} Patients</td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-camp>
                <tr>
                  <td colspan="4" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round shadow-sm">
                      <p-table [value]="camp.patientsUsing" dataKey="patientId">
                        <ng-template #header>
                          <tr class="bg-green-50">
                            <th>Patient Name</th>
                            <th>Diagnosis</th>
                            <th>Dosage Given</th>
                            <th>Quantity</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-patient>
                          <tr>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.diagnosis }}</td>
                            <td>
                              <span class="p-tag p-tag-info">{{ patient.dosage }}</span>
                            </td>
                            <td>{{ patient.qtyGiven }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    id="threeLevelDoctorTable"
    [value]="doctorsMaster"
    dataKey="doctorId"
    *ngIf="activeTab() === 'Doctor'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} doctor"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Doctor Name</th>
        <th>Doctor ID</th>
        <th>Specialization</th>
        <th>attended camps</th>
        <th>consulted Patient Count</th>
      </tr>
    </ng-template>

    <ng-template #body let-doctor let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="doctor"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold text-teal-700">{{ doctor.doctorName }}</td>
        <td>{{ doctor.doctorId }}</td>
        <td>
          <span class="p-tag p-tag-warning">{{ doctor.specialization }}</span>
        </td>
        <td>
          <span class="p-tag p-tag-warning">{{ doctor.attendedCampCount }}</span>
        </td>
        <td>
          <span class="p-tag p-tag-warning">{{ doctor.consultedPatientCount }}</span>
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-doctor>
      <tr>
        <td colspan="6" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="doctor.campsWorked" dataKey="campId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Camp Name</th>
                  <th>Date</th>
                  <th>Medicine</th>
                  <th>Total Consultations</th>
                  <th>Cash</th>
                </tr>
              </ng-template>

              <ng-template #body let-camp let-cExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="camp"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="cExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ camp.campName }}</td>
                  <td>{{ camp.date }}</td>
                  <td>{{ camp.patientsConsulted?.length }} Patients</td>
                  <td>--</td>
                  <td>--</td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-camp>
                <tr>
                  <td colspan="6" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round shadow-sm">
                      <p-table [value]="camp.patientsConsulted" dataKey="patientId">
                        <ng-template #header>
                          <tr class="bg-orange-50">
                            <th>Patient Name</th>
                            <th>Age</th>
                            <th>Diagnosis</th>
                            <th>Follow Up</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-patient>
                          <tr>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.age }}</td>
                            <td>{{ patient.diagnosis }}</td>
                            <td>
                              <span
                                [class]="
                                  patient.followUp === 'Yes'
                                    ? 'text-green-600 font-bold'
                                    : 'text-red-500'
                                "
                              >
                                {{ patient.followUp }}
                              </span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    id="threeLevelIllnessTable"
    [value]="illnessMaster"
    dataKey="illnessId"
    *ngIf="activeTab() === 'Illness'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} illnesses"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Illness Name</th>
        <th>ID</th>
        <th>Severity</th>
        <th>Total Camps Reported</th>
      </tr>
    </ng-template>

    <ng-template #body let-illness let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="illness"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold text-red-700">{{ illness.illnessName }}</td>
        <td>{{ illness.illnessId }}</td>
        <td>
          <p-tag [value]="illness.severity" severity="danger" />
        </td>
        <td>{{ illness.campsAffected?.length }} Camps</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-illness>
      <tr>
        <td colspan="5" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="illness.campsAffected" dataKey="campId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Camp Name</th>
                  <th>Detection Date</th>
                  <th>Case Count</th>
                </tr>
              </ng-template>

              <ng-template #body let-camp let-cExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="camp"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="cExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ camp.campName }}</td>
                  <td>{{ camp.date }}</td>
                  <td>
                    <span class="p-badge p-badge-warning"
                      >{{ camp.patientList?.length }} Cases</span
                    >
                  </td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-camp>
                <tr>
                  <td colspan="4" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round shadow-sm">
                      <p-table [value]="camp.patientList" dataKey="patientId">
                        <ng-template #header>
                          <tr class="bg-red-50">
                            <th>Patient Name</th>
                            <th>Age</th>
                            <th>Current Vitals</th>
                            <th>Last Visit Status</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-patient>
                          <tr>
                            <td>{{ patient.name }}</td>
                            <td>{{ patient.age }}</td>
                            <td class="font-medium">{{ patient.currentVitals }}</td>
                            <td>{{ patient.lastVisit }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-table
    id="threeLevelDiscountTable"
    [value]="discountMaster"
    dataKey="discountValue"
    *ngIf="activeTab() === 'Discount'"
    [paginator]="true"
    [rows]="7"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[7, 10, 20]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} discount categories"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Discount Category</th>
        <th>Amount (Rs.)</th>
        <th>Total Value Redeemed</th>
      </tr>
    </ng-template>

    <ng-template #body let-discount let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="discount"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td class="font-bold">
          <span [class]="discount.discountValue > 0 ? 'text-green-600' : 'text-gray-600'">
            {{ discount.label }}
          </span>
        </td>
        <td>₹{{ discount.discountValue }}</td>
        <td>₹{{ discount.totalRedeemed }}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-discount>
      <tr>
        <td colspan="4" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="discount.camps" dataKey="campId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Camp Name</th>
                  <th>Date</th>
                  <th>Total Camp Discount</th>
                </tr>
              </ng-template>

              <ng-template #body let-camp let-cExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="camp"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="cExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ camp.campName }}</td>
                  <td>{{ camp.date }}</td>
                  <td>
                    <span class="p-badge p-badge-success">₹{{ camp.totalDiscountApplied }}</span>
                  </td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-camp>
                <tr>
                  <td colspan="4" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round shadow-sm">
                      <p-table [value]="camp.patientList" dataKey="patientId">
                        <ng-template #header>
                          <tr class="bg-bluegray-50">
                            <th>Patient Name</th>
                            <th>Bill Amount</th>
                            <th>Discount</th>
                            <th>Net Paid</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-patient>
                          <tr>
                            <td>{{ patient.name }}</td>
                            <td>₹{{ patient.billAmount }}</td>
                            <td class="text-green-600 font-bold">-₹{{ patient.discount }}</td>
                            <td class="font-bold text-blue-800">₹{{ patient.finalPay }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
