<h1 style="padding-bottom: 15px; font-size: 2rem; margin-top: -15px">History or Reports</h1>
<div class="card" style="padding: 0">
  <ul class="nav nav-tabs">
    <li [class.active]="activeTab() === 'Camp'" (click)="setActiveTab('Camp')">Camps (99)</li>
    <li [class.active]="activeTab() === 'Patient'" (click)="setActiveTab('Patient')">
      Patient Details (1.81k )
    </li>
    <li [class.active]="activeTab() === 'Medicine'" (click)="setActiveTab('Medicine')">
      Medicine Details (100)
    </li>
    <li [class.active]="activeTab() === 'Doctor'" (click)="setActiveTab('Doctor')">
      Doctor Details (280)
    </li>
    <li [class.active]="activeTab() === 'Discount'" (click)="setActiveTab('Discount')">
      Discount Details list (200 k)
    </li>
    <li [class.active]="activeTab() === 'Date'" (click)="setActiveTab('Date')">
      Date range Details
    </li>
  </ul>
  <!--
  <p-table
    [value]="customers"
    id="campTable"
    *ngIf="activeTab() === 'Patient'"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
    sortField="representative.name"
    sortMode="single"
    dataKey="representative.name"
    rowGroupMode="subheader"
    groupRowsBy="representative.name"
    [tableStyle]="{ 'min-width': '70rem' }"
  >
    <ng-template #header>
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 20%">Patient ID</th>
        <th style="width: 20%">Age</th>
        <th style="width: 20%">Gender</th>
        <th style="width: 20%">Phone</th>
        <th style="width: 20%">Address</th>
        <th style="width: 20%">DOB</th>
        <th style="width: 20%">Status</th>
      </tr>
    </ng-template>
    <ng-template #groupheader let-customer let-rowIndex="rowIndex" let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="customer"
            text
            rounded
            plain
            class="mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
          <span class="font-bold ml-2">{{ customer.representative.name }}</span>
        </td>
        <td style="width: 20%; font-weight: normal">
          {{ customer.representative.mrNumber }}
        </td>
        <td style="width: 20%; font-weight: normal">
          {{ customer.representative.age }}
        </td>
        <td style="width: 20%; font-weight: normal">
          {{ customer.representative.gender }}
        </td>
        <td style="width: 20%; font-weight: normal">
          {{ customer.representative.mobileNumber }}
        </td>
        <td style="width: 20%; font-weight: normal">
          {{
            customer.patientAddressesList &&
            customer.patientAddressesList.length > 0 &&
            customer.patientAddressesList[0].mandal
              ? customer.patientAddressesList[0].mandal.name
              : 'N/A'
          }}
        </td>
        <td style="width: 20%; font-weight: normal">
          {{ customer.representative.age }}
        </td>
        <td style="width: 20%; font-weight: normal">Active</td>
      </tr>
      <tr *ngIf="expanded" class="surface-ground font-bold">
        <td colspan="8" style="background-color: #f0f0f091">
          <table style="width: 100%; font-weight: bold; border-collapse: collapse">
            <thead>
              <tr>
                <th style="width: 20%">Camp ID</th>
                <th style="width: 20%">Problem</th>
                <th style="width: 20%">specialist</th>
                <th style="width: 20%">Medicine</th>
                <th style="width: 20%">Date</th>
              </tr>
            </thead>
          </table>
        </td>
      </tr>
    </ng-template>
    <ng-template #groupfooter let-customer>
      <tr class="p-rowgroup-footer">
        <td colspan="4" style="text-align: right">Total attended camps :</td>
        <td>{{ calculateCustomerTotal(customer.representative.name) }}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-customer>
      <tr style="background-color: #f0f0f091">
        <td>
          {{ customer.name }}
        </td>
        <td>
          <div class="flex items-center gap-2">
            <span>{{ customer.country.name }}</span>
          </div>
        </td>
        <td>
          {{ customer.company }}
        </td>
        <td>
          <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)" />
        </td>
        <td>{{ customer.date }}</td>
        <td colspan="3">&nbsp;</td>
      </tr>
    </ng-template>
  </p-table>
-->
  <p-table id="threeLevelCampTable" [value]="camps" dataKey="campId" *ngIf="activeTab() === 'Camp'">
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th>Camp Name</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </ng-template>

    <ng-template #body let-camp let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            [pRowToggler]="camp"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ camp.campName }}</td>
        <td>{{ camp.date }}</td>
        <td>{{ camp.location }}</td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-camp>
      <tr>
        <td colspan="4" class="p-3 bg-gray-50">
          <div class="ml-4">
            <p-table [value]="camp.patients" dataKey="patientId">
              <ng-template #header>
                <tr>
                  <th style="width: 3rem"></th>
                  <th>Patient</th>
                  <th>Age</th>
                  <th>Diagnosis</th>
                </tr>
              </ng-template>

              <ng-template #body let-patient let-pExpanded="expanded">
                <tr>
                  <td>
                    <p-button
                      type="button"
                      [pRowToggler]="patient"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      [icon]="pExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    />
                  </td>
                  <td>{{ patient.name }}</td>
                  <td>{{ patient.age }}</td>
                  <td>{{ patient.diagnosis }}</td>
                </tr>
              </ng-template>

              <ng-template #expandedrow let-patient>
                <tr>
                  <td colspan="4" class="p-3">
                    <div class="ml-8 border-1 surface-border border-round">
                      <p-table [value]="patient.medicines" dataKey="medicineId">
                        <ng-template #header>
                          <tr class="bg-blue-50">
                            <th>Medicine Name</th>
                            <th>Dosage</th>
                            <th>Quantity</th>
                          </tr>
                        </ng-template>
                        <ng-template #body let-medicine>
                          <tr>
                            <td>{{ medicine.medicineName }}</td>
                            <td>{{ medicine.dosage }}</td>
                            <td>{{ medicine.quantity }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
