<div class="container-fluid medical-wrapper p-0">
  <div class="patient-header card" style="padding: 0.2rem">
    <div class="card-body">
      <div class="row align-items-center g-3">
        <!-- Patient Info -->
        <div class="col-lg-4 d-flex align-items-center border-end">
          <div class="patient-avatar"></div>
          <div>
            @if (patient) {
              <div class="patient-name">
                {{ patient.mrNumber }} | {{ patient.firstName }} {{ patient.lastName }} |
                {{ patient.gender }} |
                {{
                  patient.age.toString().length > 2 ? calculateDOBToAge(patient.age) : patient.age
                }}
              </div>
              <div class="patient-sub">
                {{ patient.fatherName }} | {{ patient.patientAddressesList[0].city }}
              </div>
            }
          </div>
        </div>

        <!-- Vitals -->
        <div class="col-lg-3 border-end pe-4">
          <div class="section-title-small">Vitals</div>

          <div class="d-flex flex-wrap gap-2 mt-2">
            <span class="vital-chip">Weight 75</span>
            <span class="vital-chip">BP 120/80</span>
            <span class="vital-chip">Pulse 80</span>
            <span class="vital-chip">Temp 98.6°F</span>
            <span class="vital-chip">SpO2 98%</span>
          </div>
        </div>

        <!-- Diagnosis -->
        <div class="col-lg-3 border-end pe-4">
          <div class="section-title-small">Diagnosis</div>

          <div class="d-flex flex-wrap gap-2 mt-2">
            <span class="diag-chip red">Diabetes</span>
            <span class="diag-chip red">HTN</span>
            <span class="diag-chip red">Stroke</span>
            <span class="diag-chip red">APD</span>
            <span class="diag-chip red">Asthama</span>
          </div>
        </div>

        <!-- Allergies -->
        <div class="col-lg-2">
          <div class="section-title-small">Allergies</div>

          <div class="d-flex flex-wrap gap-3 mt-2">
            <div>Drug <span class="status-chip yes">Yes</span></div>
            <div>Food <span class="status-chip no">No</span></div>
            <div>Environment <span class="status-chip no">No</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PrimeNG Tabs -->
  <div class="row g-0 mt-3">
    <!-- LEFT SIDE -->
    <div class="col-lg-8 left-panel">
      <div class="card" style="padding: 0">
        <ul class="nav nav-tabs">
          <li [class.active]="activeTab() === 'Subject'" (click)="setActiveTab('Subject')">
            <div class="med-tab">
              <div class="tab-title">Subject</div>
              <div class="tab-sub">Chief Complaints</div>
            </div>
          </li>
          <li [class.active]="activeTab() === 'Objective'" (click)="setActiveTab('Objective')">
            <div class="med-tab">
              <div class="tab-title">Objective</div>
              <div class="tab-sub">Vitals / Labs</div>
            </div>
          </li>
          <li [class.active]="activeTab() === 'Assessment'" (click)="setActiveTab('Assessment')">
            <div class="med-tab">
              <div class="tab-title">Assessment</div>
              <div class="tab-sub">Diagnosis</div>
            </div>
          </li>
          <li
            [class.active]="activeTab() === 'Recommendation'"
            (click)="setActiveTab('Recommendation')"
          >
            <div class="med-tab">
              <div class="tab-title">Plan / Recommendation</div>
              <div class="tab-sub">Inside RX / Outside RX</div>
            </div>
          </li>
          <li [class.active]="activeTab() === 'Summary'" (click)="setActiveTab('Summary')">
            <div class="med-tab">
              <div class="tab-title">Summary</div>
              <div class="tab-sub">Description</div>
            </div>
          </li>
        </ul>
        <div *ngIf="activeTab() === 'Subject'">
          <!-- Content -->
          <div class="medical-card mt-3">
            <div class="card-body">
              <!-- General Questions -->

              <div class="general-questions" style="border: 0">
                <h5 class="section-title">General Questions <span>(సాధారణ ప్రశ్నలు)</span></h5>

                <div class="row mt-3">
                  <!-- LEFT SIDE -->
                  <div class="col-md-6">
                    <!-- Frequent Infections -->
                    <div class="question-block">
                      <label class="app-checkbox">
                        <input type="checkbox" [(ngModel)]="soapData.frequent_infections" />
                        <span class="checkmark"></span>
                        Frequent Infections (తరచుగా వచ్చే ఇన్ఫెక్షన్లు)
                      </label>

                      <div class="sub-options" *ngIf="soapData.frequent_infections">
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.frequent_infections_skin"
                            name="frequent_infections_skin"
                          />
                          <span class="checkmarkSmall"></span>
                          Skin (చర్మం)</label
                        >
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.frequent_infections_gum"
                            name="frequent_infections_gum"
                          />
                          <span class="checkmarkSmall"></span>
                          Gum (చిగుళ్లు)</label
                        >
                        <label class="app-checkbox"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.frequent_infections_vaginal"
                            name="frequent_infections_vaginal"
                          />
                          <span class="checkmark"></span>
                          Vaginal (యోని)</label
                        >
                      </div>
                    </div>
                  </div>

                  <!-- RIGHT SIDE -->
                  <div class="col-md-6">
                    <!-- Darkened Skin -->
                    <div class="question-block">
                      <label class="app-checkbox">
                        <input
                          type="checkbox"
                          [(ngModel)]="soapData.darkened_skin"
                          name="darkened_skin"
                        />
                        <span class="checkmark"></span>
                        <span>Darkened skin in folds (చర్మ మడతల్లో నల్లబడం)</span>
                      </label>

                      <div class="sub-options" *ngIf="soapData.darkened_skin">
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.darkened_skin_neck"
                            name="darkened_skin_neck"
                          />
                          <span class="checkmarkSmall"></span>
                          Neck (చర్మం)</label
                        >
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.darkened_skin_armpits"
                            name="darkened_skin_armpits"
                          />
                          <span class="checkmarkSmall"></span>
                          Armpits (చంక)</label
                        >
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <!-- Tired or Weak -->
                    <div class="question-block mb-2 mt-2">
                      <label class="app-checkbox">
                        <input
                          type="checkbox"
                          [(ngModel)]="soapData.feeling_tired_weak"
                          name="feeling_tired_weak"
                        />
                        <span class="checkmark"></span>
                        <span
                          >Are you feeling tired or weak? (మీకు అలసట లేదా బలహీనతగా
                          అనిపిస్తున్నదా?)</span
                        >
                      </label>

                      <div class="sub-options" *ngIf="soapData.feeling_tired_weak">
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.feeling_tired"
                            name="feeling_tired"
                          />
                          <span class="checkmarkSmall"></span>
                          Feeling tired (అలసటగా ఉంది)</label
                        >
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.feeling_weak"
                            name="feeling_weak"
                          />
                          <span class="checkmarkSmall"></span>
                          Feeling weak (బలహీనంగా ఉంది)</label
                        >
                        <label class="app-checkboxSmall"
                          ><input
                            type="checkbox"
                            [(ngModel)]="soapData.feeling_both"
                            name="feeling_both"
                          />
                          <span class="checkmarkSmall"></span>
                          Both tired and weak</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="disease-wrapper">
                <!-- Disease Strip -->
                <div class="disease-strip">
                  <label class="disease-chip active app-checkbox">
                    <input type="checkbox" checked />
                    <span class="checkmark"></span>
                    Diabetes (మధుమేహం)
                  </label>

                  <label class="disease-chip app-checkbox">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    HTN (అధిక రక్తపోటు)
                  </label>

                  <label class="disease-chip app-checkbox">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    Seizures (మూర్చలు)
                  </label>

                  <label class="disease-chip app-checkbox">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    Stroke (స్ట్రోక్)
                  </label>

                  <label class="disease-chip app-checkbox">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    Asthma (ఆస్తమా)
                  </label>
                </div>

                <!-- Diabetes Card -->
                <div class="disease-card mt-3">
                  <h5 class="card-title">Diabetes (మధుమేహం)</h5>

                  <!-- Type + Onset -->
                  <div class="row align-items-center mt-3">
                    <div class="col-lg-8">
                      <div class="type-options">
                        <label>
                          <input type="radio" name="diabetesType" checked />
                          Type 1 (టైప్ 1)
                        </label>

                        <label>
                          <input type="radio" name="diabetesType" />
                          Type 2 (టైప్ 2)
                        </label>

                        <label>
                          <input type="radio" name="diabetesType" />
                          Gestational Diabetes
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-4">
                      <label class="onset-label">
                        <input type="checkbox" checked />
                        Onset Duration (ప్రారంభ కాలం)
                      </label>

                      <select class="form-select onset-dropdown mt-2">
                        <option>Select Onset Duration</option>
                        <option>3 Months</option>
                        <option>6 Months</option>
                        <option>1 Year</option>
                        <option>18 Months</option>
                        <option>2 Years</option>
                        <option>3 Years</option>
                      </select>
                    </div>
                  </div>

                  <!-- Presenting Complaints -->
                  <div class="mt-4">
                    <label class="main-check app-checkbox">
                      <input
                        type="checkbox"
                        [(ngModel)]="soapData.presenting_complaints"
                        name="presenting_complaints"
                      />
                      <span class="checkmark"></span>
                      Presenting Complaints (ప్రస్తుత లక్షణాలు)
                    </label>
                    <div
                      class="complaint-grid mt-3 sub-options"
                      *ngIf="soapData.presenting_complaints"
                    >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Wounds
                        (గాయాలు)</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Fatigue
                        (అలసట)</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Vision
                        Changes</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" />
                        <span class="checkmarkSmall"></span>Polydipsia</label
                      >

                      <label class="app-checkboxSmall"
                        ><input type="checkbox" />
                        <span class="checkmarkSmall"></span>Polyuria</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" />
                        <span class="checkmarkSmall"></span>Polyphagia</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Tingling /
                        Numbness</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Unexplained
                        weight</label
                      >

                      <label class="app-checkboxSmall"
                        ><input type="checkbox" /> <span class="checkmarkSmall"></span>Taking
                        Medicines?</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" />
                        <span class="checkmarkSmall"></span>Smoking</label
                      >
                      <label class="app-checkboxSmall"
                        ><input type="checkbox" />
                        <span class="checkmarkSmall"></span>Drinking</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Diabetes Section -->
          <div class="medical-card mt-3" style="border: 0">
            <div class="card-body">
              <h5 class="section-title">Diabetes (మధుమేహం)</h5>

              <div class="row align-items-center">
                <div class="col-md-8">
                  <div class="d-flex flex-wrap gap-4">
                    <div class="form-check">
                      <input type="radio" name="diabetesType" class="form-check-input" />
                      <label class="form-check-label">Type 1</label>
                    </div>

                    <div class="form-check">
                      <input type="radio" name="diabetesType" class="form-check-input" />
                      <label class="form-check-label">Type 2</label>
                    </div>

                    <div class="form-check">
                      <input type="radio" name="diabetesType" class="form-check-input" checked />
                      <label class="form-check-label">Gestational Diabetes</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <select class="form-select">
                    <option>Select Onset Duration</option>
                    <option>3 Months</option>
                    <option>6 Months</option>
                    <option>1 Year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- HTN Section -->
          <div class="card medical-card mt-3" style="padding: 1rem">
            <div class="card-body" style="padding-left: 0">
              <h5 class="section-title">HTN (Hypertension) (అధిక రక్తపోటు)</h5>

              <div class="form-check mb-3" style="padding-left: 0">
                <label class="app-checkbox">
                  <input type="checkbox" />
                  <span class="checkmark"></span>
                  Have you experienced any of the following recently?
                </label>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-check" style="padding-left: 0">
                    <label class="app-checkboxSmall"
                      ><input type="checkbox" />
                      <span class="checkmarkSmall"></span>
                      Headache
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-check">
                    <label class="app-checkboxSmall"
                      ><input type="checkbox" />
                      <span class="checkmarkSmall"></span>
                      Blurred vision
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-check">
                    <label class="app-checkboxSmall"
                      ><input type="checkbox" />
                      <span class="checkmarkSmall"></span>
                      Chest pain
                    </label>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-check">
                    <label class="app-checkboxSmall"
                      ><input
                        type="checkbox"
                        [(ngModel)]="soapData.frequent_infections_skin"
                        name="frequent_infections_skin"
                      />
                      <span class="checkmarkSmall"></span>
                      Shortness of breath</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab() === 'Objective'" class="p-3">
          <div class="objective-wrapper">
            <div class="container-fluid">
              <div class="row g-3">
                <!-- Weight -->
                <div class="col mt-0">
                  <div class="vital-box d-flex align-items-center gap-2">
                    <div class="vital-icon weight-icon mt-4">⚖</div>
                    <div>
                      <label class="vital-label">Weight</label>
                      <div class="input-group">
                        <input class="form-control" />
                        <span class="input-group-text-soap">Kg’s</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- BP -->
                <div class="col mt-0">
                  <div class="vital-box d-flex align-items-center gap-2">
                    <div class="vital-icon bp-icon mt-4">🩺</div>
                    <div>
                      <label class="vital-label">BP</label>
                      <div class="input-group">
                        <input class="form-control" />
                        <span class="input-group-text-soap">mmHg</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pulse -->
                <div class="col mt-0">
                  <div class="vital-box d-flex align-items-center gap-2">
                    <div class="vital-icon pulse-icon mt-4">❤</div>
                    <div>
                      <label class="vital-label">Pulse</label>
                      <div class="input-group">
                        <input class="form-control" />
                        <span class="input-group-text-soap">/min</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Temp -->
                <div class="col mt-0">
                  <div class="vital-box d-flex align-items-center gap-2">
                    <div class="vital-icon temp-icon mt-4">🌡</div>
                    <div>
                      <label class="vital-label">Temp</label>
                      <div class="input-group">
                        <input class="form-control" />
                        <span class="input-group-text-soap">°F</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- SpO2 -->
                <div class="col mt-0">
                  <div class="vital-box d-flex align-items-center gap-2">
                    <div class="vital-icon spo2-icon mt-4">🫁</div>
                    <div>
                      <label class="vital-label">SpO2</label>
                      <div class="input-group">
                        <input class="form-control" />
                        <span class="input-group-text-soap">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Lab Table -->
            <div class="lab-table-wrapper">
              <table class="table lab-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Test With Medicine</th>
                    <th>Clinical Results</th>
                    <th>Result Difference</th>
                    <th>Add Multiple</th>
                    <th>History</th>
                  </tr>
                </thead>

                <tbody>
                  <!-- Row Example -->
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>BP</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>FBS</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>PPBS</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>HBA1C</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>RBS</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>CHL</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>LDL</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>HDL</td>

                    <td>
                      <input type="text" class="form-control" placeholder="Select" />
                    </td>

                    <td>
                      <div class="d-flex gap-3">
                        <label><input type="radio" name="bp" /> Yes</label>
                        <label><input type="radio" name="bp" /> No</label>
                      </div>
                    </td>

                    <td>
                      <input class="form-control" />
                    </td>

                    <td>-</td>

                    <td>
                      <button class="icon-btn add-btn">+</button>
                    </td>

                    <td>
                      <div class="d-flex gap-2">
                        <span class="history-icon">📄</span>
                        <span class="history-icon">📊</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Footer Buttons -->
            <div class="footer-bar">
              <button class="btn btn-outline-secondary">Cancel</button>
              <button class="btn btn-save">Save</button>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab() === 'Assessment'" class="p-3">
          <div class="assessment-wrapper container-fluid">
            <!-- ===== HTN SECTION ===== -->
            <div class="disease-section">
              <h5 class="disease-title">HTN</h5>

              <div class="row g-3">
                <!-- LEFT TABLE -->
                <div class="col-lg-7">
                  <table class="table history-table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Test With Medicine</th>
                        <th>Results</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>10/09/2025</td>
                        <td>Yes</td>
                        <td>135/80</td>
                      </tr>
                      <tr>
                        <td>12/09/2025</td>
                        <td>Yes</td>
                        <td>145/85</td>
                      </tr>
                      <tr>
                        <td>13/09/2025</td>
                        <td>No</td>
                        <td>155/90</td>
                      </tr>
                      <tr>
                        <td>01/10/2025</td>
                        <td>Yes</td>
                        <td>120/80</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- RIGHT CHART -->
                <div class="col-lg-5">
                  <div class="chart-card">
                    <canvas id="myChart" #myChart style="width: 100%; max-width: 600px"></canvas>
                  </div>
                </div>
              </div>

              <!-- NOTES -->
              <div class="notes-block mt-4">
                <label>Notes</label>
                <textarea class="form-control notes-area"></textarea>
              </div>
            </div>

            <!-- ===== DIABETES SECTION ===== -->
            <div class="disease-section mt-5">
              <h5 class="disease-title">Diabetes</h5>

              <div class="row g-3">
                <div class="col-lg-7">
                  <table class="table history-table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Test With Medicine</th>
                        <th>Results (FBS / PPBS)</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>11/09/2025</td>
                        <td>Yes</td>
                        <td>125 / 224</td>
                      </tr>
                      <tr>
                        <td>15/09/2025</td>
                        <td>Yes</td>
                        <td>99 / 228</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-lg-5">
                  <div class="chart-card">
                    <canvas
                      id="diabetesChart"
                      #diabetesChart
                      style="width: 100%; max-width: 600px"
                    ></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- FOOTER -->
            <div class="footer-actions">
              <button class="btn btn-outline-secondary">Cancel</button>
              <button class="btn btn-save">Save</button>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab() === 'Recommendation'" class="p-3">
          <div class="rx-wrapper">
            <div class="table-responsive rx-table-wrapper">
              <table class="table rx-table" id="rxTable">
                <!-- HEADER -->
                <thead>
                  <tr>
                    <th rowspan="2" class="select-col">Select</th>
                    <th rowspan="2">Medicine Name</th>
                    <th rowspan="2">Qty. Available</th>
                    <th colspan="3" class="text-center">Schedule</th>
                    <th rowspan="2">No. of Days</th>
                    <th rowspan="2">Quantity ordered</th>
                  </tr>

                  <tr class="sub-header">
                    <th>Morning</th>
                    <th>Afternoon</th>
                    <th>Night</th>
                  </tr>
                </thead>

                <!-- BODY -->
                <tbody>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">T.RABI 20 MG</td>
                    <td>258410</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="112" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">A.BENZ 10 MG</td>
                    <td>258411</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="112" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">C.CALCIUM 500 MG</td>
                    <td>258412</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="28" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">D.DOSTINEX 0.5 MG</td>
                    <td>258413</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="56" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">E.ERGO 250 MG</td>
                    <td>258414</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="28" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">F.FERROUS 100 MG</td>
                    <td>258415</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="112" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">G.GABA 750 MG</td>
                    <td>258416</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="56" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">H.HYDROXYZINE 25 MG</td>
                    <td>258417</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="56" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">I.IVERMECTIN 3 MG</td>
                    <td>258418</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="56" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">J.JOSLE 40 MG</td>
                    <td>258419</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="112" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">K.KETOTIFEN 1 MG</td>
                    <td>258420</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="28" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">L.LYMPHOM 5 MG</td>
                    <td>258421</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="28" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">M.METHOTREXATE 2.5 MG</td>
                    <td>258422</td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td class="text-center">28</td>
                    <td><input class="qty-input" value="28" /></td>
                  </tr>

                  <tr>
                    <td><input type="checkbox" /></td>
                    <td class="med-name">N.NAPROXEN 250 MG</td>
                    <td>258423</td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td><input class="schedule-input" value="0" /></td>
                    <td><input class="schedule-input" value="1" /></td>
                    <td class="text-center">56</td>
                    <td><input class="qty-input" value="112" /></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- FOOTER -->
            <div class="rx-footer">
              <button class="btn btn-outline-secondary">Cancel</button>
              <button class="btn btn-save">Save</button>
            </div>
          </div>
        </div>
        <div *ngIf="activeTab() === 'Summary'" class="p-3">Summary Tab Content</div>
      </div>
    </div>
    <div class="col-lg-4 right-panel">
      <!-- Medical Condition Card -->
      <div class="card medical-condition-card">
        <!-- Header -->
        <div class="condition-header">
          <div class="nav-arrow">←</div>

          <div class="condition-title">
            MEDICAL CONDITION
            <i class="pi pi-print ms-2"></i>
          </div>

          <div class="nav-arrow">→</div>
        </div>

        <!-- Camp Info -->
        <div class="camp-info">
          <div class="camp-logo">GBR</div>

          <div class="camp-details">
            <div>
              <small>Date</small>
              <div>12/09/2025</div>
            </div>

            <div>
              <small>Camp Name</small>
              <div>JVV BAPATLA</div>
            </div>

            <div>
              <small>Doctor</small>
              <div>Dr. Ramesh Naidu</div>
              <small>Neurologist</small>
            </div>
          </div>
        </div>
      </div>

      <!-- New code start -->
      <div class="summary-wrapper container-fluid mt-3">
        <!-- DIAGNOSIS -->
        <div class="summary-section" style="padding-top: 0">
          <h5 class="section-title">DIAGNOSIS</h5>

          <div class="chip-row">
            <span class="chip red">Diabetes</span>
            <span class="chip red">HTN</span>
            <span class="chip red">Stroke</span>
            <span class="chip red">APD</span>
            <span class="chip red">Asthama</span>
          </div>
        </div>
        <div
          class="ObjectiveSection"
          id="objectiveSection"
          *ngIf="
            activeTab() === 'Objective' ||
            activeTab() === 'Assessment' ||
            activeTab() === 'Plan' ||
            activeTab() === 'Summary'
          "
        >
          <!-- VITALS SUMMARY -->
          <div class="summary-section">
            <h5 class="section-title">VITALS SUMMARY</h5>

            <div class="vitals-summary">
              <div class="vital-box">
                <div class="vital-icon bg-blue">⚖</div>
                <div>
                  <div class="vital-label">Weight</div>
                  <div class="vital-value">75</div>
                </div>
              </div>

              <div class="vital-box">
                <div class="vital-icon bg-lightblue">🩺</div>
                <div>
                  <div class="vital-label">BP</div>
                  <div class="vital-value red-text">135/90</div>
                </div>
              </div>

              <div class="vital-box">
                <div class="vital-icon bg-red">❤</div>
                <div>
                  <div class="vital-label">Pulse</div>
                  <div class="vital-value green-text">80</div>
                </div>
              </div>

              <div class="vital-box">
                <div class="vital-icon bg-purple">🌡</div>
                <div>
                  <div class="vital-label">Temp</div>
                  <div class="vital-value green-text">98.6°F</div>
                </div>
              </div>

              <div class="vital-box">
                <div class="vital-icon bg-green">🫁</div>
                <div>
                  <div class="vital-label">SpO2</div>
                  <div class="vital-value green-text">99%</div>
                </div>
              </div>
            </div>
          </div>

          <!-- ALLERGIES -->
          <div class="summary-section">
            <h5 class="section-title">ALLERGIES</h5>

            <div class="allergy-row">
              Drug <span class="badge-yes">Yes</span> Food
              <span class="badge-no">No</span> Environment <span class="badge-no">No</span>
            </div>

            <div class="allergy-note">Penicillin, Amoxicillin, Sulfa drugs</div>
          </div>

          <!-- TEST RESULTS -->
          <div class="summary-section">
            <h5 class="section-title">TEST RESULTS</h5>

            <div class="result-block">
              <div>
                <strong>Diabetes</strong>
                <div class="chip-row">
                  <span class="chip red">HBA1C: 8</span>
                  <span class="chip red">FBS: 142</span>
                  <span class="chip green">PLBS: 170</span>
                </div>
              </div>

              <div>
                <strong>HTN</strong>
                <div class="chip-row">
                  <span class="chip red">140/85</span>
                </div>
              </div>

              <div>
                <strong>Stroke</strong>
                <div class="chip-row">
                  <span class="chip red">LT</span>
                  <span class="chip red">Onset: 1hr</span>
                  <span class="chip green">2D Echo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MEDICATION TABLE -->
        <div
          class="summary-section"
          id="objectiveSection"
          *ngIf="
            activeTab() === 'Assessment' || activeTab() === 'Plan' || activeTab() === 'Summary'
          "
          style="overflow-x: auto"
        >
          <h5 class="section-title">MEDICATION</h5>

          <table class="table medication-table">
            <thead>
              <tr>
                <th>Medicine Name</th>
                <th>Dosage</th>
                <th>Schedule (M-A-N)</th>
                <th>RX</th>
                <th>Remarks / Start Date</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Pantop 80</td>
                <td>80 mg</td>
                <td>1 - 0 - 0</td>
                <td>Inside</td>
                <td>12/10/2025</td>
              </tr>
              <tr>
                <td>Asprin</td>
                <td>300 mg</td>
                <td>0 - 1 - 1</td>
                <td>Inside</td>
                <td>12/10/2025</td>
              </tr>
              <tr>
                <td>Telmisartan</td>
                <td>40 mg</td>
                <td>1 - 0 - 1</td>
                <td>Outside</td>
                <td><span class="new-badge">New</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- New code End -->
    </div>
  </div>
</div>
