<div class="sidenav-container">
  <p-drawer 
    [(visible)]="opened" 
    [modal]="false" 
    position="left"
    [style]="{ width: getDrawerWidth() }"
    [styleClass]="collapsed ? 'sidenav sidenav-collapsed' : 'sidenav'">
    <ng-template pTemplate="header">
      <div class="sidenav-header" [class.collapsed]="collapsed">
        <i class="pi pi-building logo-icon"></i>
        <h2 *ngIf="!collapsed">CareSync</h2>
        <p-button 
          [icon]="collapsed ? 'pi pi-angle-right' : 'pi pi-angle-left'"
          [text]="true" 
          [rounded]="true"
          (onClick)="toggleCollapse()"
          styleClass="collapse-btn"
          [pTooltip]="collapsed ? 'Expand sidebar' : 'Collapse sidebar'"
          tooltipPosition="right"></p-button>
      </div>
    </ng-template>
    <nav>
      <div *ngFor="let item of menuItems" class="menu-item-wrapper">
        <!-- Menu item with sub-menus -->
        <div *ngIf="hasSubMenu(item)" 
             class="menu-item menu-item-parent"
             [class.collapsed]="collapsed"
             [class.expanded]="isSubMenuExpanded(item.label)"
             (click)="toggleSubMenu(item.label)"
             [pTooltip]="collapsed ? item.label : ''"
             tooltipPosition="right">
          <i [class]="item.icon"></i>
          <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
          <i *ngIf="!collapsed" 
             class="pi pi-chevron-down submenu-arrow"
             [class.rotated]="isSubMenuExpanded(item.label)"></i>
        </div>
        
        <!-- Sub-menu items -->
        <div *ngIf="hasSubMenu(item) && isSubMenuExpanded(item.label) && !collapsed" 
             class="submenu">
          <a *ngFor="let subItem of item.items" 
             [routerLink]="subItem.route" 
             routerLinkActive="active" 
             class="menu-item submenu-item"
             [routerLinkActiveOptions]="{exact: false}">
            <i class="pi pi-circle-fill submenu-icon"></i>
            <span class="menu-label">{{ subItem.label }}</span>
          </a>
        </div>

        <!-- Regular menu item without sub-menus -->
        <a *ngIf="!hasSubMenu(item)"
           [routerLink]="item.route" 
           routerLinkActive="active" 
           class="menu-item" 
           [class.collapsed]="collapsed"
           [routerLinkActiveOptions]="{exact: false}"
           [pTooltip]="collapsed ? item.label : ''"
           tooltipPosition="right">
          <i [class]="item.icon"></i>
          <span class="menu-label" *ngIf="!collapsed">{{ item.label }}</span>
        </a>
      </div>
    </nav>
  </p-drawer>

  <div class="main-content-wrapper" [style.margin-left]="opened ? getDrawerWidth() : '0'">
    <p-toolbar styleClass="toolbar">
      <div class="p-toolbar-group-start">
        <p-button icon="pi pi-bars" (onClick)="toggleSidenav()" [text]="true" styleClass="menu-button"></p-button>
        <span class="toolbar-title">Medical ERP System</span>
      </div>
      <div class="p-toolbar-group-end">
        <p-button icon="pi pi-user" [text]="true" [rounded]="true" (onClick)="menu.toggle($event)"></p-button>
        <p-tieredMenu #menu [model]="userMenuItems" [popup]="true"></p-tieredMenu>
      </div>
    </p-toolbar>
    
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>

